body {
  background: linear-gradient(90deg, #1CA5EA 0%, #3A0851 100%);
  margin: 0px;
  justify-content: center;
  color: white;
  text-shadow: 1px 1px 2px black;
  font-family: 'Oxygen', sans-serif;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
}

body a {
  color: #eedc6e;
}

h1 {
  font-family: 'Overpass Mono', sans-serif;
  font-size: clamp(1.5rem, 5vw, 5rem);
  text-decoration: none;
  text-shadow: 2px 2px 4px black;
  color: #eedc6e;
}

h2 {
  color: black;
  font-family: 'Oxygen', sans-serif;
  font-size: clamp(1.25rem, 3vw, 3rem);
  text-decoration: none;
}

h3 {
  color: white;
  font-family: 'Overpass Mono', sans-serif;
  font-size: clamp(1.25rem, 3vw, 3rem);
  text-decoration: none;
  text-shadow: 2px 2px 4px black;
}

h3 a {
  color: #eedc6e;
}

img {
  width:100%;
  height:100%;
  object-fit: contain;
  overflow: visible;
  padding: 20px;
}

.rescale {
  object-fit: scale-down;
  overflow: hidden;
}

.spacer {
  height: 3vh;
}

.btn {
  background: #eedc6e;
  color: black;
  font-family: 'Oxygen', sans-serif;
  font-size: clamp(1rem, 1.2vw, 3rem);
  text-decoration: none;
  text-shadow: none;
}

.card-title {
  color: black;
  font-family: 'Overpass Mono', sans-serif;
  font-size: clamp(1.25rem, 3vw, 3rem);
  text-decoration: none;
  text-shadow: none;
}

.card-text {
  color: black;
  text-shadow: none;
  font-family: 'Oxygen', sans-serif;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
}

#top-badge {
  position: absolute;
  display: flex;
  margin: 0px;
  padding: 0px;
  top: 10px;
  left: 3vh;
  z-index: 3;
}

#socials {
  position: absolute;
  align-items: center;
  display: flex;
  margin: 0px;
  padding: 0px;
  bottom: 5vh;
  left: 5vh;
  height: 5vh;
  width: 12vw;
  z-index: 3;
}

#menu {
  align-items: center;
  display: flex;
  height: 100vh;
  width: 100vw;
}

#menu-items {
  margin-left: clamp(4rem, 12vw, 12rem);
  position: relative;
  transition: 0.5s;
  z-index: 2;
}

#menu-overlay {
  background: #DDDDDD;
  opacity: 0.1;
  position: absolute;
  height: 100vh;
  width: 100vw;
  transition: background 800ms ease;
  z-index: 1;
}

#menu-image {
  background: #FFFFFF;
  opacity: 0.8;
  background-position: 50% 50%;
  background-size: 50vmin 50vmin;
  height: 70vh;
  right: 10vw;
  position: absolute;
  top: 15vh;
  width: clamp(300px, 30vw, 2000px);
  transition: background 800ms ease;
  z-index: 1;
}

#menu-background-pattern {
  --bg: #DDDDDD;
  opacity: 0.8;
  background: radial-gradient(circle, transparent 20%, var(--bg) 20%, var(--bg) 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, var(--bg) 20%, var(--bg) 80%, transparent 80%, transparent) 25px 25px, linear-gradient(#BBBBBB 2px, transparent 2px) 0 -1px, linear-gradient(90deg, #BBBBBB 2px, var(--bg) 2px) -1px 0;
  background-position: 0% 0%;
  background-size: 10vmin 10vmin;
  height: 100vh;
  left: 0px;
  position: absolute;
  top: 0px;
  transition: opacity 800ms ease,
    background-size 800ms ease,
    background-position 800ms ease,
    bg 800ms ease;
  width: 100vw;
  z-index: 1;
}

#menu-items:hover ~ #menu-background-pattern {
  background-size: 12vmin 12vmin;
  opacity: 0.3;
}

#menu-items:hover > .menu-item {
  color: white;
  opacity: 0.3;
}

#menu-items:hover > .menu-item:hover {
  opacity: 1;
}

.menu-item {
  color: #FAFAFA;
  cursor: pointer;
  display: block;
  font-family: 'Overpass Mono', serif;
  font-size: clamp(3rem, 10vh, 8vw);
  padding: clamp(0.25rem, 2vh, 0.5rem) 0rem;
  text-decoration: none;
  text-shadow: 2px 2px 4px black;
  transition: opacity 400ms ease, color 400ms ease;
}

#menu[data-active-index="0"] > #menu-background-pattern {
  background-position: 0% -25%;
}

#menu[data-active-index="1"] > #menu-background-pattern {
  background-position: 0% -50%;
}

#menu[data-active-index="2"] > #menu-background-pattern {
  background-position: 0% -75%;
}

#menu[data-active-index="3"] > #menu-background-pattern {
  background-position: 0% -100%;
}

#menu[data-active-index="0"] > #menu-overlay {
  background: #26ff9a;
}

#menu[data-active-index="1"] > #menu-overlay {
  background: #0bd0ea;
}

#menu[data-active-index="2"] > #menu-overlay {
  background: #0b30ea;
}

#menu[data-active-index="3"] > #menu-overlay {
  background: #ea0baf;
}


#menu[data-active-index="0"] > #menu-image {
  background: #26ff9a;
}

#menu[data-active-index="1"] > #menu-image {
  background: #0bd0ea;
}

#menu[data-active-index="2"] > #menu-image {
  background: #0b30ea;
}

#menu[data-active-index="3"] > #menu-image {
  background: #ea0baf;
}
